
.joinnow{
  background-color: aquamarine;
  color: white !important;
}
.carsoltext{
  color: #0017ff;
  font-family: cursive;

  font-weight: bold;
  text-decoration: underline;
}
/* .carousel-item .img{
  width: 100%;

} */

.carouselimg{
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cimg1{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/pic/slider-1.jpg);
  background-size: cover;
}
.cimg2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/pic/slider-2.jpg);
  background-size: cover;

}
.cimg3{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../public/pic/slider-3.jpg);
  background-size: cover;

}
.joinbtn{
  border-radius: 10px;
  padding: 10px 13px;
  text-decoration: none;
  color: white;
  background-image: repeating-linear-gradient(90deg, #005fff, #d02aa0);
}
.joinbtn:hover{
  box-shadow: 0px 3px 15px 0px rgba(26, 58, 238, 0.932);
  color: white;
  
}

.placedimg{
  width: 100%;
}
 .course {
  height: 355px;
margin-bottom: 30px;
}
.contacttext{
  color: #ff0000;
}

.whatsapp{
  z-index: 99;
  font-size: 40px;
  background-color: #7cd46e;
  color: white;
  padding: 0px 10px;
  border-radius: 15px;
  line-height: 54px;
    height: 60px;
}